@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height     : 100%;
  width      : 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
  /* default text color landing page | but we can override it as far our need */
}

/* 
🟨🟨🟨🟨🟨🟨🟨🟨🟨
Browser Main Scrollbar 
🟨🟨🟨🟨🟨🟨🟨🟨🟨
*/

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  border-radius   : 2px;
  background-color: #FF6B66;
}

html::-webkit-scrollbar-track {
  background-color: #FFE1E0;
}


/* 
🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨
Custom Scrollbar for a specific div 
🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨🟨
*/

.customScroll::-webkit-scrollbar {
  height: 8px;
}

.customScroll::-webkit-scrollbar-thumb {
  border-radius   : 2px;
  background-color: #FF6B66;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #f65752;
}